.product {
    max-width: 320px;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    /*border-bottom: 3px solid orange;*/
    /*box-shadow: 0 0 3px #ffffff inset;*/
}

.product-image__block {
    position: relative;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    transition: .4s;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.product-image__block:hover .product-title {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.product-image__block:hover .product-description {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.product-image__block:hover .product-image {
    transform: scale(1.2);
}

.product-title {
    transition: .4s;
    position: absolute;
    color: orange;
    background-color: rgba(17, 17, 17, 0.56);
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
}

.product-description {
    transition: .4s;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(17, 17, 17, 0.37);
    padding: 1rem 2rem;
    box-sizing: border-box;
    width: 100%;
}

.product-footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-btn {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid orange;
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 2rem;
    margin-top: 0;
    outline: none;
}

.product-price {
    margin-right: 2rem;
    border-bottom: 3px solid orange;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 22px;
}
