.basket-item {
    display: flex;
    justify-content: space-between;
    /*background: orange;*/
    border-bottom: 2px solid orange;
    padding: 1rem .5rem 1rem 0;
}

.basket-image {
    max-width: 100px;
}

.basket-product {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: .5rem;
}

.basket-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 22px;
}

.basket-price {
    margin-top: .5rem;
}

.basket-count {
    margin-top: .5rem;
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.count-minus, .count-plus {
    width: 15px;
    cursor: pointer;
}

/*.basket-count::after {*/
/*    content: url("../../../../assests/svg/002-plus.svg");*/
/*    position: absolute;*/
/*    right: 1rem;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    cursor: pointer;*/
/*}*/

/*.basket-count::before {*/
/*    content: url("../../../../assests/svg/001-minus-symbol.svg");*/
/*    position: absolute;*/
/*    left: 1rem;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*    cursor: pointer;*/
/*}*/
