.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    color: #ffffff;
    width: 320px;
    overflow: hidden;
    height: 100%;
    background: #11100f;
    z-index: 5;
    padding: 1.5rem 2rem;
    font-family: "Montserrat", sans-serif;
    transition: .4s;
    box-sizing: border-box;
}

.sidebar.hide {
    transition: .4s;
    width: 0;
    /*height: 0;*/
    padding: 1.5rem 0;
    opacity: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header__title {
    /*width: 100px;*/
}

.basket-hide {
    max-width: 45px;
    cursor: pointer;
}

.sidebar-main {
    padding-top: 2rem;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid red;
}

.sidebar-footer__btn {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
    background: none;
    border: none;
    border-bottom: 1px solid orange;
    padding-bottom: .5rem;
    margin-right: 1rem;
    color: white;
    cursor: pointer;
    outline: none;
}

.sidebar-footer__price {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 1rem;
}
