.products-page {
    height: 100%;
}

.product-list {
    margin: 4rem auto 0;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
