.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /*background-color: #111111;*/
    /*position: fixed;*/
}

.profile {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.profile-image {
    max-width: 415px;
    overflow: hidden;
    border-radius: 10px;
}

.profile-image__img {
    width: 100%;
}

.profile-user {
    max-width: 415px;
    margin-left: 2rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    /*background-color: #111111;*/
    color: white;
    height: max-content;
}

.user-full-name {
    font-weight: lighter;
    font-size: 28px;
    margin-bottom: 1rem;
}

.user-description {
    color: orange;
    line-height: 1.5;
    font-size: 20px;
}
